


/*
 * Monserrate 
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*
 * Helvetica57
 */

@font-face {
	font-family: 'Helvetica57';
	src: url('../fonts/helvetica57/HelveticaNeue57.eot');
	src: url('../fonts/helvetica57/HelveticaNeue57.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica57/HelveticaNeue57.woff2') format('woff2'),
		url('../fonts/helvetica57/HelveticaNeue57.woff') format('woff'),
		url('../fonts/helvetica57/HelveticaNeue57.ttf') format('truetype'),
		url('../fonts/helvetica57/HelveticaNeue57.svg#HelveticaNeue57') format('svg');
	font-weight: normal;
	font-style: normal;
}
