
/*
 * File : Nosotros Archivo
 * Contiene : Todos lo estilos relacionados 
 * a la sección / página - Nosotros
 */

//Item Page
.pageNosotros__item
	width : 48%

	p 
		color    : rgba(0,0,0,.9)
		font-size: 15px 
	
	h2 , h3 , h4 
		font-family : "Helvetica57"

//Item Branding
.itemBranding
	font-size: 14px 
	margin   : 20px 0 0 
	width    : 48%